img{
  width: 100%;
  height: auto;
}

.store{
  width: 100%;
  height: auto;
  background-color: white;
  overflow: auto;
}

h1{
  font-family: 'Libre Bask';
  font-size: 32px;
  margin-left: 75px;
  color: black;
}

.swiper-container{
  width:100%;
  height: auto;
}

.swiper-wrapper{
  position: relative;
}

.swiper-slide{
  width: 100%;
  height: 48rem;
}

.boxset, .bluray, .deluxe{
  width: 80%;
  margin: 1em 0 2em 75px;
}

.boxset{
  max-width: 627.188px;
}

.first{
  max-width: 576px;
}

.bluray{
  max-width: 576px;
}

.second{
  max-width: 512px;
}

.deluxe{
  max-width: 921.594px;
}

.third{
  max-width: 512px;
}

.product-info article{
  width: 80%;
  margin: 0 0 1em 75px;
  color: rgb(115, 115, 115);
  line-height: 1.5;
}

.stuff{
  width: 80%;
  height: auto;
  margin-top: 10px;
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
}

.product-info span{
  color: rgb(59, 59, 59);
  font-size: 25px;
  text-align: center;
  font-family: 'Libre Bask', serif;
}

.btnLink{
  width: 35%;
  height: auto;
  padding: 15px;
  color: #4dd2f5;
  background-color: #001333;
  text-align: center;
  margin-right: 6px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.btnLink:hover{
  background-color: #F1D7A0;
  color: #001333;
}

.endorsements{
  overflow: auto;
  background-color: white;
  width: 100%;
  height: auto;
}

.people{
  display: none;
}

.endorsements .swiper-slide{
  width: 100%;
  height: 20em;
}

.endorsement-holder{
  width: 80%;
  margin: 2em 0 0 75px;
}

.endorsement article{
  text-align: center;
  line-height: 1.8;
  color: rgb(115, 115, 115);
}

.endorsement h3{
  font-family: 'Libre Bask';
  font-size: 30px;
  color: black;
}

.endorsement h4{
  margin: 0 0 10px;
}

.form{
  border-top: 3px solid #3d2710;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  color: #3d2710;
}

.form h1{
  color: #3d2710;
}

.contact{
  width: 80%;
  height: auto;
  margin-left: 75px;
  display: flex;
  flex-direction: column;
}

.people{
  max-width: 403.188px;
}

.contact-address{
  width: 100%;
}

.contact-address p{
  line-height: 1.6;
}

.contact-form{
  width: 100%;
  height: auto;
}

form{
  display: flex;
  flex-direction: column;
}

label{
  margin-bottom: 10px;
}

input, textarea{
  margin-bottom: 15px;
}

input, textarea{
  padding: 5px;
  font-size: 16px;
}

textarea{
  height: 180px;
}

.submit{
  border: 0;
  width: 25%;
  margin: 15px auto 30px;
  color: white;
  background-color: #e6880f;
}

footer{
  position: relative;
  z-index: 2;
  width: 100%;
  color: #6e6e6e;
  text-align: center;
}

/*iphone landscape*/
@media (min-width: 375px) and (max-width: 667px) and (orientation: landscape) {
  .boxset, .bluray, .deluxe{
    width: 57%;
    margin-left: 166px;
  }

  .product-info article,
  .product-info .stuff{
    margin-left: 105px;
  }
}

/*ipad portrait*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
  .boxset, .bluray, .deluxe, .stuff, .product-info{
    position: absolute;
  }

  .boxset{
    width: 60%;
    top: -70px;
    left: -20px;
  }

  .first{
    width: 53%;
    right: 34px;
    bottom: 190px;
  }

  .bluray{
    width: 60%;
    right: 50px;
  }

  .second{
    width: 30%;
    bottom: 160px;
  }

  .link-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .link-second .btnLink{
    width: 70%;
    margin: 15px auto;
  }

  .deluxe{
    width: 82%;
    bottom: 100px;
  }

  .third{
    width: 50%;
    text-align: right;
    right: 60px;
  }

  .endorsement-holder{
    display: flex;
    width: 75%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .people{
    display: block;
    width: 42%;
  }

  .endorsement{
    width: 50%;
  }
}

/*iPad landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  .boxset, .bluray, .deluxe, .stuff, .product-info{
    position: absolute;
  }

  .boxset{
    width: 65%;
    top: -110px;
    left: -70px;
  }

  .first{
    width: 47%;
    right: 20px;
    bottom: 150px;
  }

  .bluray{
    width: 54%;
    right: 30px;
  }

  .second{
    width: 40%;
    top: 145px;
  }

  .deluxe{
    bottom: 40px;
    width: 79%;
  }

  .third{
    width: 40%;
    right: 60px;
  }

  .endorsements .swiper-slide {
    width: 100%;
    height: 26em;
  }

  .endorsement-holder{
    display: flex;
    width: 75%;
    margin: 0 auto;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .people{
    display: block;
    width: 42%;
  }

  .endorsement{
    width: 50%;
  }

  .contact {
    width: 84%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait){
  .boxset, .bluray, .deluxe, .stuff, .product-info{
    position: absolute;
  }

  .first{
    width: 45%;
  }

  .deluxe{
    width: 75%;
  }

  .third{
    width: 40%;
    right: 30px;
  }

  .endorsement-holder{
    margin: 0 auto;
  }

  .endorsements .swiper-slide{
    height: 24rem;
  }

  .contact {
    width: 84%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape){
  .boxset, .bluray, .deluxe, .stuff, .product-info{
    position: absolute;
  }

  .boxset{
    width: 49%;
    top: -109px;
    left: 50px;
  }

  .first{
    width: 45%;
    right: 0;
  }

  .bluray{
    width: 45%;
    top: -22px;
    right: 90px;
  }

  .second{
    width: 40%;
    left: 50px;
    top: 140px;
  }

  .deluxe{
    width: 72%;
    bottom: 0;
  }

  .third{
    width: 40%;
    right: 30px;
  }

  .endorsements .swiper-slide{
    height: 29rem;
  }

  .endorsement-holder{
    display: flex;
    width: 75%;
    margin: 0 auto;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .people{
    display: block;
    width: 42%;
  }

  .endorsement{
    width: 50%;
  }

  .contact {
    width: 88%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1367px) {
  .boxset, .bluray, .deluxe, .stuff, .product-info{
    position: absolute;
  }

  .boxset{
    width: 49%;
    top: -109px;
    left: 50px;
  }

  .first{
    width: 45%;
    right: 0;
  }

  .bluray{
    width: 45%;
    top: -22px;
    right: 90px;
  }

  .second{
    width: 40%;
    left: 7%;
    top: 140px;
  }

  .deluxe{
    width: 72%;
    bottom: 0;
  }

  .third{
    width: 40%;
    right: 6%;
  }

  .endorsements .swiper-slide{
    height: 29rem;
  }

  .endorsement-holder{
    display: flex;
    width: 75%;
    margin: 0 auto;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .people{
    display: block;
    width: 42%;
  }

  .endorsement{
    width: 50%;
  }

  .contact {
    width: 88%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}
